@*to check if the user is signed in or not*@
@inject Microsoft.AspNetCore.Identity.SignInManager<Appointment.Models.ApplicationUser> signInManager

@if (signInManager.IsSignedIn(User))
{

}
else { 
<ul class="nav navbar-nav">
    <li class="nav-item">
        <a class="nav-link text-white" id="registerLink" asp-controller="Account" asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" id="loginLink" asp-controller="Account" asp-action="Login">Sign In</a>
    </li>
</ul>
}